[submodule "api-gateway"]
	path = api-gateway
	url = https://github.com/divyanjalee200178/Library-System-Api-Gateway.git
[submodule "config-server"]
	path = config-server
	url = https://github.com/divyanjalee200178/Library-System-Config-Server.git
[submodule "Service-registry"]
	path = Service-registry
	url = https://github.com/divyanjalee200178/Library-System-Eureka-Server.git
[submodule "config-server-old"]
	path = config-server-old
	url = https://github.com/divyanjalee200178/Library-System-Config-Server.git
[submodule "service-registry"]
	path = service-registry
	url = https://github.com/divyanjalee200178/Library-System-Eureka-Server.git
