[submodule "api-gateway"]
    path = api-gateway
    url = https://github.com/divyanjalee200178/Library-System-Api-Gateway.git

[submodule "config-server"]
    path = config-server
    url = https://github.com/divyanjalee200178/Library-System-Config-Server.git

